<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <title>Admin Panel</title>
  </head>
  <body>
    <div class="table-responsive-lg" style="width: 90%; margin: 10px auto">
      <div style="display: flex; align-items: center">
        <div style="width: 20%">
          <form
        action="/admin/download_report/{{start_date}}/{{end_date}}/"
        method="POST"
      >
        {% csrf_token %}
        <select class="form-control" id="download_format" name="download_format">
          <option value="CSV">CSV</option>
          <option value="XLSX">XLSX</option>
        </select>
        
      </div>
      &nbsp;
      <input type="submit" value="Download" class="btn btn-primary" />

      <div
            class="col-lg-4 col-md-8 col-sm-6 col-12 mb-2 mt-4"
            class="container"
          >
            <div
              style="
                box-shadow: 1px 2px 8px 0px #f1f1f1;
                background-color: white;
                border-radius: 8px;
                height: 125px;
              "
            >
              <div class="row">
                <div
                  class="col-2 bg-primary"
                  style="
                    padding-top: 25px;
                    border-radius: 8px 0px 0px 8px;
                    text-align: center;
                    height: 125px;
                    margin-left: 15px;
                  "
                ></div>
                <div class="col-9" style="text-align: right">
                  <h4
                    style="
                      color: #6e6e6e;
                      font-size: 25px;
                      margin-top: 20px;
                      text-align: right;
                      margin-right: 30px;
                    "
                  >
                    Total Amount
                  </h4>
                  <h2
                    style="
                      color: #6e6e6e;
                      font-size: 35px;
                      margin-top: 15px;
                      text-align: right;
                      margin-right: 30px;
                    "
                  >
                    {{total_amount}}
                  </h2>
                </div>
              </div>
            </div>
          </div>
      </form>
    </div>
    <br />
    <br />
      <table
        class="table table-md table-bordered table-striped table-condensed border border-primary"
        style="border-radius: 10px"
      >
        <thead class="bg-primary">
          <tr style="color: white">
            <th
              scope="col"
              style="font-size: 14px; vertical-align: middle; padding: 0.5rem"
            >
              Client Name
            </th>
            <th
            scope="col"
            style="font-size: 14px; vertical-align: middle; padding: 0.5rem"
          >
            Payment Frequency
          </th>
            <th
              scope="col"
              style="font-size: 14px; vertical-align: middle; padding: 0.5rem"
            >
              Transaction Date (MM/DD/YYYY)
            </th>
            <th
              scope="col"
              style="font-size: 14px; vertical-align: middle; padding: 0.5rem"
            >
              Transaction Type
            </th>
            <th
              scope="col"
              style="font-size: 14px; vertical-align: middle; padding: 0.5rem"
            >
              Amount
            </th>
            <th
              scope="col"
              style="font-size: 14px; vertical-align: middle; padding: 0.5rem"
            >
              Final Closure
            </th>
          </tr>
        </thead>
        <tbody>
          {% for t in transactions %}
                  <tr>
                    {% for key, value in t.items %}
                    <td style="font-size: 15px; padding: 0.5rem"> {{value}} </td>
                      {% endfor %}
                  </tr>
                {% endfor %}
          </tr>
        </tbody>
      </table>

  </body>
</html>
