<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <title>Admin Panel</title>
  </head>
  <body>
    <div class="table-responsive-lg" style="width: 90%; margin: 10px auto">
      <div style="display: flex; align-items: center">
        <div style="width: 20%">
          <form
            action="/admin/download_report_namewise/{{client_name}}/"
            method="POST"
          >
        {% csrf_token %}
        <select class="form-control" id="download_format" name="download_format">
          <option value="CSV">CSV</option>
          <option value="XLSX">XLSX</option>
        </select>
        
      </div>
      &nbsp;
      <input type="submit" value="Download" class="btn btn-primary" />
      </form>
    </div> 
    <br /> 
    <br/>
      <table
        class="table table-md table-bordered table-striped table-condensed border border-primary"
        style="border-radius: 10px"
      >
        <thead class="bg-primary">
          <tr style="color: white">
            <th
              scope="col"
              style="font-size: 14px; vertical-align: middle; padding: 0.5rem"
            >
              Client Name
            </th>
            <th
              scope="col"
              style="font-size: 14px; vertical-align: middle; padding: 0.5rem"
            >
              Family
            </th>
            <th
              scope="col"
              style="font-size: 14px; vertical-align: middle; padding: 0.5rem"
            >
              Entity-Scaleup/H-Zone
            </th>
            <th
              scope="col"
              style="font-size: 14px; vertical-align: middle; padding: 0.5rem"
            >
              Mobile Number
            </th>
            <th
              scope="col"
              style="font-size: 14px; vertical-align: middle; padding: 0.5rem"
            >
              Email address
            </th>
            <th
              scope="col"
              style="font-size: 14px; vertical-align: middle; padding: 0.5rem"
            >
              Total Principal
            </th>
            <th
              scope="col"
              style="font-size: 14px; vertical-align: middle; padding: 0.5rem"
            >
              Interest Rate
            </th>
            <th
              scope="col"
              style="font-size: 14px; vertical-align: middle; padding: 0.5rem"
            >
              Interest Amount
            </th>
            <th
              scope="col"
              style="font-size: 14px; vertical-align: middle; padding: 0.5rem"
            >
              Maturity Date
            </th>
            <th
              scope="col"
              style="font-size: 14px; vertical-align: middle; padding: 0.5rem"
            >
              Referral name
            </th>
          </tr>
        </thead>
        <tbody>
          {% for t in transactions %}
          <tr>
            {% for key, value in t.items %}
            <td style="font-size: 15px; padding: 0.5rem"> {{value}} </td>
              {% endfor %}
          </tr> 
          {% endfor %}
          </tr>
        </tbody>
      </table>
  </body>
</html>
