<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <title>Reports</title>
  </head>
  <div>
    <div class="content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <!-- FIRST CARD -->
          <div
            class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4"
            class="container"
          >
            <div
              style="
                box-shadow: 1px 2px 8px 0px #f1f1f1;
                background-color: white;
                border-radius: 8px;
                height: 125px;
              "
            >
              <div class="row">
                <div
                  class="col-2 bg-primary"
                  style="
                    padding-top: 25px;
                    border-radius: 8px 0px 0px 8px;
                    text-align: center;
                    height: 125px;
                    margin-left: 15px;
                  "
                ></div>
                <div class="col-9" style="text-align: right">
                  <h4
                    style="
                      color: #6e6e6e;
                      font-size: 25px;
                      margin-top: 20px;
                      text-align: right;
                      margin-right: 30px;
                    "
                  >
                    Total Clients
                  </h4>
                  <h2
                    style="
                      color: #6e6e6e;
                      font-size: 35px;
                      margin-top: 15px;
                      text-align: right;
                      margin-right: 30px;
                    "
                  >
                    {{total_clients}}
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <!-- SECOND CARD -->
          <div
            class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4"
            class="container"
          >
            <div
              style="
                box-shadow: 1px 2px 8px 0px #f1f1f1;
                background-color: white;
                border-radius: 8px;
                height: 125px;
              "
            >
              <div class="row">
                <div
                  class="col-2 bg-primary"
                  style="
                    padding-top: 25px;
                    border-radius: 8px 0px 0px 8px;
                    text-align: center;
                    height: 125px;
                    margin-left: 15px;
                  "
                ></div>
                <div class="col-9" style="text-align: right">
                  <h4
                    style="
                      color: #6e6e6e;
                      font-size: 25px;
                      margin-top: 20px;
                      text-align: right;
                      margin-right: 30px;
                    "
                  >
                    Total Principal
                  </h4>
                  <h2
                    style="
                      color: #6e6e6e;
                      font-size: 35px;
                      margin-top: 15px;
                      text-align: right;
                      margin-right: 30px;
                    "
                  >
                  {{total_principal}}
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <!-- THIRD CARD -->
          <div
            class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4"
            class="container"
          >
            <div
              style="
                box-shadow: 1px 2px 8px 0px #f1f1f1;
                background-color: white;
                border-radius: 8px;
                height: 125px;
              "
            >
              <div class="row">
                <div
                  class="col-2 bg-primary"
                  style="
                    padding-top: 25px;
                    border-radius: 8px 0px 0px 8px;
                    text-align: center;
                    height: 125px;
                    margin-left: 15px;
                  "
                ></div>
                <div class="col-9" style="text-align: right">
                  <h4
                    style="
                      color: #6e6e6e;
                      font-size: 25px;
                      margin-top: 20px;
                      text-align: right;
                      margin-right: 30px;
                    "
                  >
                    Total Interest
                  </h4>
                  <h2
                    style="
                      color: #6e6e6e;
                      font-size: 35px;
                      margin-top: 15px;
                      text-align: right;
                      margin-right: 30px;
                    "
                  >
                  {{all_interests}}
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr style="
        margin-top: 2rem;
        margin-bottom: 2rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        width: 90%;
      "/>
<div class="content-wrapper mx-2">
    <div class="container-fluid">
      <div class="row">

        <!-- dOWNLOAD ALL REPORTS -->
<div class="container col-lg-5 col-md-10 col-sm-12 col-12 my-3"  style="
box-shadow: 1px 2px 8px 0px #f1f1f1;
background-color: #f7f7f7;
border-radius: 8px;
height: 176px;
">
    <h2
                    style="
                      color: #6e6e6e;
                      font-size: 27px;
                      margin-top: 15px;
                      
                      margin-right: 30px;
                    "
                  >
                    Download All Reports
                  </h2>

<div style="display: flex; align-items: center;margin-top: 20px;" >
  <form action="/admin/download_all_reports/" method="POST" style="display: flex; align-items: center;margin-top: 20px;" >
    {% csrf_token %}
    <div class="col-lg-8">
      <select
          class="form-control"
          id="download_format"
          name="download_format"
        >
          <option value="CSV">CSV</option>
          <option value="XLSX">XLSX</option>
        </select>
  </div>
    <input
        type="submit"
        name="submit"
        value="Download"
        class="btn btn-primary"
      />
    </form>

  </div>
</div>

  <!-- DATE WISE REPORTS -->
  <div class="container col-lg-5 col-md-10 col-sm-12 col-12 my-3 " style="
  box-shadow: 1px 2px 8px 0px #f1f1f1;
  background-color: #f7f7f7;
  border-radius: 8px;
  height: 176px;">
    <h2
                    style="
                      color: #6e6e6e;
                      font-size: 27px;
                      margin-top: 15px;
                      
                      margin-right: 30px;
                    "
                  >
                    Date wise reports
                  </h2>
<div style="align-items: flex-end;margin-top: 20px;" class="row col-12" >
  <form action="/admin/get_month_wise_report/" method="POST" style="align-items: flex-end;margin-top: 20px;" class="row col-12" >
    {% csrf_token %}
    <div class=" col-4">
    <h5>Start Date:</h5>
    <div >
        <input type="date" class="form-control" value={{form.start_date}}> 
    </input>
    </div>
</div>
<div class=" col-4">
    <h5>End Date:</h5>
    <div >
        <input 
            type="date" 
            class="form-control" 
            value={{form.end_date}} 
        > 
      </input>
    </div>
</div>
<div class="col-4" >
    <input
      class="btn btn-primary"
      type="submit"
      name="submit"
      value="View Reports"
    />
    </form>
</div>
  </div>
  </div>

  
  <!-- MEMBER nAME WISE REPORT -->
  <div class="container col-lg-5 col-md-10 col-sm-12 col-12 my-3 " style="
  box-shadow: 1px 2px 8px 0px #f1f1f1;
  background-color: #f7f7f7;
  border-radius: 8px;
  height: 176px;">
    <h3
                    style="
                      color: #6e6e6e;
                      font-size: 27px;
                      margin-top: 15px;
                      
                      margin-right: 30px;
                    "
                  >
                    Member name wise reports
                  </h3>

<div style="display: flex; align-items: center;margin-top: 20px;" >
  <form
      method="POST"
      action="/admin/get_name_wise_reports/"
      style="display: flex; align-items: center;margin-top: 20px;" 
    >
  {% csrf_token %}
    <div class="col-lg-9">
        <select class="form-control" id="customer_type" name="customer_type">
          {% for name in client_names %}
            <option value="{{name}}">{{name}}</option>
            {%endfor%}
          </select>
    </div>
    <input
      class="btn btn-primary"
      type="submit"
      name="submit"
      value="View Reports"
    />
    </form>
  </div>
  </div>

  <!-- FAMILY NAME WISE REPORTS -->
  <div class="container col-lg-5 col-md-10 col-sm-12 col-12 my-3 " style="
  box-shadow: 1px 2px 8px 0px #f1f1f1;
  background-color: #f7f7f7;
  border-radius: 8px;
  height: 176px;">
    <h2
                    style="
                      color: #6e6e6e;
                      font-size: 27px;
                      margin-top: 15px;
                      margin-right: 30px;
                    "
                  >
                    Family name wise reports
                  </h2>
<div style="display: flex; align-items: center;margin-top: 20px;" >
  <form
        style="display: flex; align-items: center;margin-top: 20px;"
        method="POST"
        action="/admin/get_family_name_wise_reports/"
      >
        {% csrf_token %}
      <div class="col-lg-9">
          <select class="form-control" id="family_name" name="family_name">
            {% for name in family_names %}
              <option value="{{name}}">{{name}}</option>
              {%endfor%}
            </select>
      </div>

      <input
        class="btn btn-primary"
        type="submit"
        name="submit"
        value="View Reports"
      />
    </form>
  </div>
  </div>

</div></div></div>
  
</div>
  </body>
</html>
